cflib~=0.1.20.1
tomli~=2.0.1
pyqt6~=6.4.0
testfixtures~=7.0.0
flask~=2.2.2
QtAwesome
jsonpickle~=2.2.0
pytest~=7.1.3
pytest-qt~=4.1.0
sympy~=1.11.1
matplotlib~=3.6.0


# pytorch with cuda
torch --extra-index-url https://download.pytorch.org/whl/cu113
torchvision --extra-index-url https://download.pytorch.org/whl/cu113
torchaudio --extra-index-url https://download.pytorch.org/whl/cu113


# yolov5
-r 'ml\models\yolov5\requirements.txt'

torch~=1.12.1
pyyaml~=6.0
tqdm~=4.64.1
opencv-python~=4.6.0.66
numpy~=1.23.4
pandas~=1.5.1
seaborn~=0.12.1
pillow~=9.2.0
torchvision~=0.13.1
requests~=2.28.1
thop~=0.1.1-2209072238
vispy~=0.11.0
werkzeug~=2.2.2